* {
  margin: 0;
  padding: 0;
  background-color: white;
}
.logout {
  position: fixed;
  right: 10px;
  top: 5px;
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  /*font-size: 20px;  */
  box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.46),
    inset -1px -1px 1px 1px rgba(0, 0, 0, 0.26);
}
.options {
  display: flex;
  justify-content: center;
}
.common {
  display: flex;
  text-align: center;
  margin: auto;
  height: 100px;
  width: 100px;
}

.btn {
  background-color: lightgreen;
  height: 100px;
  width: 100px;
  color: green;
  border-radius: 10px;
  font-size: 18px;

  box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.46),
    inset -1px -1px 1px 1px rgba(0, 0, 0, 0.26);
  margin: 0.5px;
}

.btn:hover {
  border-color: darkgreen;
}
h1 {
  text-align: center;
  margin: 100px 0;
  font-size: 46px;
}
.logout:hover{
    color: black;
}
